@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html, body {
    @apply h-full w-full overflow-hidden;
  }
}

/* Leaflet overrides */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
